.ForgotYourPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 1px solid #ccc;
  width: 50%;
  margin: 1rem auto;
  text-align: center;
}

.ForgotYourPassword .subtitle {
    font-size: 1.4rem;
    font-weight: 600;
}

.ForgotYourPassword .text {
  font-size: 1.1rem;
  font-weight: 300;
  color: #333;
  margin: 0.6rem 0;
}

.ForgotYourPassword .TextField {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 300;
  color: #333;
  background-color: #fff;
}

input {
  height: 40px;
  margin: 10px 0;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #333;
  background-color: #fff;
}
